@import 'tailwindcss';

@theme inline {
    --color-background: #101211;
    --color-foreground: #ffffff;
    --font-sans: var(--font-inter-sans);
    --font-mono: var(--font-inter-mono);
    --color-cardBackground: #171918;
    --color-main-0: #ffc34f;
    --color-main-1: #f9d586;
    --color-main-2: #fcf1d5;
    --color-main-3: #fcf0d8;
    --color-main-4: #ffffff;
}

.in-grid-gap {
    @apply gap-4 md:gap-6 xl:gap-8;
}

:root {
    --color-main-0: #ffc34f;
    --color-main-1: #f9d586;
    --color-main-2: #fcf1d5;
    --color-main-3: #fcf0d8;
    --color-main-4: #ffffff;
    --cartesian-grid: #262827;
}

html {
    background-color: black;
}

body {
    max-width: 2560px;
    margin: 0 auto;
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
}
